<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Edicion Candidato</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container bg-secondary">	
	<header th:replace="/layouts/header :: header"></header>
	
	<section class="row bg-light py-2">
		<h2 class="text-center">EDICION DE CANDIDATO</h2>
		<hr />
	
		<form class="col-12 col-md-8 offset-md-2 mb-2" th:action="@{/candidato/modificar}" th:object="${candidato}" th:method="POST">
			<div class="mb-3">
				<!-- Este input oculto hace de caja de entrada de datos, pero oculta.
					 Va a tomar el valor del atributo codigo con lo que tengamos en codigo -->
				<input type="hidden" th:field="*{codigo}" />
				<label for="idCodigo" class="form-label">Codigo</label>
				<!-- "th:value" tomara el valor del atributo de legajo y poder mostrarlo sobre el formulario  -->
				<input type="text" class="form-control" id="idCodigo" name="codigo" th:value="${codigo}" disabled="disabled" />				
			</div>

			<div class="mb-3">
				<label for="idNombre" class="form-label">Nombre del Videojuego</label> 
				<input type="text" class="form-control" id="idNombre" name="nombre" th:field="*{nombre}" placeholder="Ingrese Nombre" />
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" ></div>
			</div>

			<div class="mb-3">
				<label for="idEmpresa" class="form-label">Empresa</label> 
				<input type="text" class="form-control" id="idEmpresa" name="empresa" th:field="*{empresa}" placeholder="Ingrese Empresa" />
				<div class="text-danger" th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}" ></div>
			</div>

			<div class="mb-3">
				<label for="idDescripcion" class="form-label">Descripcion</label> 
				<input type="text" class="form-control" id="idDescripcion" name="descripcion" th:field="*{descripcion}" placeholder="Ingrese Descripcion" />
				<div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" ></div>
			</div>
			
			<div class="text-center">
				<button type="submit" class="border-dark btn btn-primary m-2">Enviar</button>
				<a class="border-dark btn btn-secondary m-2" th:href="@{/candidato/lista}" id="cancelar" >Cancelar</a>
			</div>
		</form>
		
		<hr />
	</section>	
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>