<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Ganadores</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container bg-secondary">
	<header th:replace="/layouts/header :: header"></header>
	
	<section class="row bg-light py-2">
		<h2 class="text-center">GANADORES</h2>
		<hr />
		<p class = "text-center">
			Todos los ganadores del premio al videojuego del año desde el 2014.
		</p>
		
		<table class="table table-striped table-hover table-responsive table-bordered text-center my-4">
			<thead>
				<tr>
					<th>N°</th>
					<th>Nombre</th>
					<th>Empresa</th>
					<th>Año Ganador</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="ganador: ${ganadores}">
					<td th:text="${ganador.num}" ></td>
					<td th:text="${ganador.nombre}" ></td>
					<td th:text="${ganador.empresa}" ></td>
					<td th:text="${ganador.anio}" ></td>
				</tr>
			</tbody>			
		</table>
		
		<div class="text-center">
			<img th:src="@{/images/Cubo.png}" class="card-img-top tamImg" alt="Imagen" >
			<h4 >¿Quien sera el ganador del año 2020?</h4>			
		</div>
		
	</section>
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>