<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Candidatos</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container bg-secondary">
	<header th:replace="/layouts/header :: header"></header>
	
	<section class="row bg-light py-2">
		<h2 class="text-center">CANDIDATOS</h2>
		<hr />
	
		<div class="text-end">
			<a class="border-dark btn btn-primary my-2" id="nuevoCandidato" th:href="@{/candidato/nuevo}" >Nuevo Candidato</a>
		</div>	
		
		<div class="text-center my-3">
			<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
		        <div class="col" th:each="candidato: ${candidatos}">
		            <div class="card border-dark" >
		                <img th:src="@{/images/{name}(name = ${candidato.image})}" class="card-img-top" alt="Imagen" >
		                <div class="card-body text-start bgCard">
		                    <h5 class="card-title" th:text="${candidato.nombre}"><strong></strong></h5>
		                    <p class="card-text text-secondary" th:text="${candidato.empresa}" ></p>
		                    <hr />
		                    <p class="card-text" th:text="${candidato.descripcion}" ></p>
		                    
		                    <div class="text-center">
			                    <a class="border-dark btn btn-primary my-2" id="votarCandidato" th:href="@{/candidato/votar/} + ${candidato.codigo}" >Votar</a>
			                    <a class="border-dark btn btn-danger my-2" id="editarCandidato" th:if="${candidato.codigo != '4444'}" th:href="@{/candidato/editar/} + ${candidato.codigo}">Editar</a>
								<a class="border-dark btn btn-warning my-2" id="eliminarCandidato" th:if="${candidato.codigo != '4444'}" th:href="@{/candidato/eliminar/} + ${candidato.codigo}" >Eliminar</a>
		                    </div>
		                    
		                </div>
		            </div>
		        </div>
			</div>
		</div>
		
	</section>
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>