<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Codigo Incorrecto</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container bg-secondary">
	<header th:replace="/layouts/header :: header"></header>
	
	<section class="row bg-light text-center py-2">
		<h2>CODIGO UTILIZADO</h2>
		<hr />
		<p>
			El codigo con el que intento registrar el videojuego ya se encuentra en uso.
    	</p>
    	
    	<div class="text-center">
			<a class="border-dark btn btn-primary m-2" th:href="@{/candidato/nuevo}" id="idNuevo" >Volver</a>
			<a class="border-dark btn btn-secondary m-2" th:href="@{/candidato/lista}" id="idCancelar" >Cancelar</a>
		</div>
       	
	</section>
		
	<footer th:replace="layouts/footer :: footer"></footer>

	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>