<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Votacion Realizada</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container bg-secondary">
	<header th:replace="/layouts/header :: header"></header>
	
	<section class="row bg-light text-center py-2">
		<h2>GRACIAS</h2>
		<hr />
		<p th:if="${usuario.votosDisponibles > 0}">
			Gracias por participar en la votacion del videojuego del año 2022.<br />
			Sus votos disponibles son <span th:text="${usuario.votosDisponibles}"></span>
    	</p>
    	<p th:if="${usuario.votosDisponibles <= 0}">
			Usted ya no dispone de votos disponibles.<br />
			Gracias por participar en la votacion del videojuego del año 2022.
    	</p>
    	
    	<div class="text-center">
			<a class="border-dark btn btn-primary m-2" th:href="@{/candidato/votos}" id="idCancelar" >Continuar</a>
			<a class="border-dark btn btn-secondary m-2" th:if="${usuario.votosDisponibles > 0}" th:href="@{/candidato/lista}" id="idCancelar" >Volver</a>
		</div>
       	
	</section>
		
	<footer th:replace="layouts/footer :: footer"></footer>

	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>