<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nuevo Usuario</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body class="container bg-secondary">	
	<header th:replace="/layouts/header :: header"></header>
	
	<section class="row bg-light py-2">
		<h2 class="text-center">FORMULARIO USUARIO</h2>
		<hr />
	
		<form class="col-12 col-md-8 offset-md-2 mb-2" th:action="@{/usuario/guardar}" th:object="${usuario}" th:method="POST">
			<div class="mb-3">
				<label for="idNombre" class="form-label">Nombre</label> 
				<input type="text" class="form-control" id="idNombre" name="nombre" th:field="*{nombre}" placeholder="Ingrese Nombre" />
				<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" ></div>
			</div>

			<div class="mb-3">
				<label for="idEmail" class="form-label">E-mail</label> 
				<input type="email" class="form-control" id="idEmail" name="email" th:field="*{email}" placeholder="Ingrese E-mail" />
				<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
			</div>

			<div class="mb-3">
				<label for="idFechaN" class="form-label">Fecha de Nacimiento</label> 
				<input type="date" class="form-control" id="idFechaN" name="fechaNacimiento" th:field="*{fechaNacimiento}" th:value="*{fechaNacimiento}" />
				<div class="text-danger" th:if="${#fields.hasErrors('fechaNacimiento')}" th:errors="*{fechaNacimiento}" ></div>
			</div>
			
			<div class="text-center">
				<button type="submit" class="border-dark btn btn-primary m-2" >Enviar</button>
				<a class="border-dark btn btn-secondary m-2" th:href="@{/home}" id="idCancelar" >Cancelar</a>
			</div>
		</form>
		
		<hr />
	</section>	
	
	<footer th:replace="layouts/footer :: footer"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>